body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.map-box {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width:100%
}

.circle-text {
  background-color: brown;
  color: white;
}
